{
  "presets": ["react-native"],
  "plugins":[
      "transform-decorators-legacy",
      ["module-resolver", {
        "extensions": [".js", ".ios.js", ".android.js"],
        "cwd": "babelrc",
        "alias": {
          "App": "./App",
          "Config": "./App/Config",
          "Components": "./App/Components",
          "Containers": "./App/Containers",
          "Services": "./App/Services",
          "Transforms": "./App/Transforms",
          "Navigation": "./App/Navigation",
          "I18n": "./App/I18n",
          "Themes": "./App/Themes",
          "Stores": "./App/Stores"
        }
      }]
  ],
  "env": {
    "production": {
      "plugins": [
        "ignite-ignore-reactotron",
        "transform-decorators-legacy"
      ]
    }
  }
}
